data_/
data_/*.vtu
data_/*.zip
.git/
pipeline/*
venv

results/
models_/
experiments/

.remote-sync.json

__pycache__/
pipeline/__pycache__/
*.py[cod]
*.pyc
*.pytest
*.egg-info

#report archive
submission.zip
archive.zip
report.pdf
